.alert {
  color: $font-color;
  padding: 16px;
  background-color: lighten($dark, 10%);
  margin-bottom: 16px;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.alert.danger {
  background-color: #b40101;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
